.img_avata {
    display: inline-flex;
    border-radius: 50%;
    overflow: hidden;
    img {
        width: inherit;
        height: inherit;
        object-fit: cover;
    }
}
.newdapp_step3 {
    .img_avata {
        width: 153px;
        height: 153px;
    }
    .data_collected {
        display: flex;
        align-items: center;
        font-family: "Roboto", sans-serif;
        p {
            font-size: 16px;
        }
    }
}
