aio-pika==6.7.1
aiohttp==3.6.0
aiohttp-cors==0.7.0
aiormq==3.2.3
amqp==5.0.1
async-timeout==3.0.1
attrs==20.2.0
chardet==3.0.4
gunicorn==19.7.1
idna==2.10
idna-ssl==1.1.0
importlib-metadata==1.7.0
kombu==5.0.2
motor==2.2.0
multidict==4.7.6
pamqp==2.3.0
PyJWT==1.7.1
pymongo==3.11.0
PyYAML==5.1.2
typing-extensions==3.7.4.3
uvloop==0.14.0
vine==5.0.0
yarl==1.5.1
zipp==3.1.0
requests==2.25.1
