apiVersion: v1
kind: Service
metadata:
  name: ca-orderer
  labels:
    name: ca-orderer
spec:
  type: NodePort
  selector:
    app: ca-orderer
  ports:
  - protocol: TCP
    port: 7054
    name: http
    nodePort: {{data['nodePort']}}
