apiVersion: v1
kind: Service
metadata:
  name: ca-org-{{ data['name']}}
  labels:
    name: ca-org-{{ data['name'] }}
spec:
  type: NodePort
  selector:
    app: ca-org-{{ data['name'] }}
  ports:
  - protocol: TCP
    port: 7054
    name: http
    nodePort: {{data['nodePort']}}
