apiVersion: v1
kind: Service
metadata:
  name: orderer
  labels:
    name: orderer
spec:
  type: NodePort
  selector:
    app: orderer
  ports:
  - protocol: TCP
    port: 7050
    targetPort: 7050
    name: grpc
    nodePort: {{calOrdererNodePort()}}
