apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: orderer-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$1
    nginx.ingress.kubernetes.io/ssl-passthrough: "true"
spec:
  rules:
  - http:
      paths:
      - path: /orderer/?(.*)
        backend:
          serviceName: orderer
          servicePort: 7050