apiVersion: v1
kind: Service
metadata:
  name: peer{{data['peer_index']}}-{{data['org_name']}}
  labels:
    name: peer{{data['peer_index']}}-{{data['org_name']}}
spec:
  type: NodePort
  selector:
    app: peer{{data['peer_index']}}-{{data['org_name']}}
  ports:
  - protocol: TCP
    port: 7051
    name: grpc
    nodePort: {{data['nodePort']}}
---
apiVersion: v1
kind: Service
metadata:
  name: couchdb{{data['peer_index']}}-{{data['org_name']}}
  labels:
    name: couchdb{{data['peer_index']}}-{{data['org_name']}}
spec:
  selector:
    app: couchdb{{data['peer_index']}}-{{data['org_name']}}
  ports:
  - protocol: TCP
    port: 5984
    targetPort: 5984
