apiVersion: apps/v1
kind: Deployment
metadata:
  name: peer{{data['peer_index']}}-{{data['org_name']}}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: peer{{data['peer_index']}}-{{data['org_name']}}
  template:
    metadata:
      labels:
        app: peer{{data['peer_index']}}-{{data['org_name']}}
    spec:
      volumes:
        - name: fabric-files
          persistentVolumeClaim:
            claimName: fabric-pvc
        - name: dockersocket
          hostPath:
            path: /var/run/docker.sock
        - name: builders-config
          configMap:
            name: builders-config
            items:
              - key: core.yaml
                path: core.yaml
        - name: external-builder-detect
          configMap:
            name: builders-config
            items:
              - key: detect
                path: detect
                mode: 0544
        - name: external-builder-build
          configMap:
            name: builders-config
            items:
              - key: build
                path: build
                mode: 0544
        - name: external-builder-release
          configMap:
            name: builders-config
            items:
              - key: release
                path: release
                mode: 0544

      containers:
        - name: peer
          image: hyperledger/fabric-peer:2.2
          imagePullPolicy: IfNotPresent
          command: ['sh', '-c', 'peer node start']
          env:
            - name: TZ
              value: 'America/Sao_Paulo'
            - name: CORE_PEER_ADDRESSAUTODETECT
              value: 'true'
            - name: CORE_PEER_NETWORKID
              value: nid1
            - name: CORE_PEER_ID
              value: peer{{data['peer_index']}}
            - name: CORE_PEER_ADDRESS
              value: {{data['nodeIp']}}:{{calPeerNodePort(data['org_index'],data['peer_index'])}}
            - name: CORE_PEER_LISTENADDRESS
              value: 0.0.0.0:7051
#            - name: CORE_PEER_CHAINCODEADDRESS
#              value: {{data['nodeIp']}}:{{calPeerNodePort(data['org_index'],data['peer_index'])}}
            # - name: CORE_PEER_CHAINCODELISTENADDRESS
            #   value: localhost:7052
            # - name: CORE_OPERATIONS_LISTENADDRESS
            #   value: 0.0.0.0:9443
            - name: CORE_PEER_GOSSIP_BOOTSTRAP
              value: {{data['nodeIp']}}:{{calPeerNodePort(data['org_index'],data['peer_index'])}}
            - name: CORE_PEER_GOSSIP_EXTERNALENDPOINT
              value: {{data['nodeIp']}}:{{calPeerNodePort(data['org_index'],data['peer_index'])}}
            - name: CORE_PEER_PROFILE_ENABLED
              value: 'true'
            - name: CORE_VM_ENDPOINT
              value: unix:///host/var/run/docker.sock
            - name: CORE_PEER_LOCALMSPID
              value: {{data['org_name']|capitalize}}MSP
            - name: CORE_PEER_MSPCONFIGPATH
              value: /fabric/crypto-config/peerOrganizations/{{data['org_name']}}.{{data['network_name']}}.com/peers/peer{{data['peer_index']}}.{{data['org_name']}}.{{data['network_name']}}.com/msp
            - name: FABRIC_LOGGING_SPEC
              value: debug
            - name: CORE_LOGGING_PEER
              value: debug
            - name: CORE_LOGGING_CAUTHDSL
              value: debug
            - name: CORE_LOGGING_GOSSIP
              value: debug
            - name: CORE_LOGGING_LEDGER
              value: debug
            - name: CORE_LOGGING_MSP
              value: info
            - name: CORE_LOGGING_POLICIES
              value: debug
            - name: CORE_LOGGING_GRPC
              value: debug
            - name: CORE_PEER_TLS_ENABLED
              value: 'true'
            - name: CORE_PEER_TLS_CERT_FILE
              value: /fabric/crypto-config/peerOrganizations/{{data['org_name']}}.{{data['network_name']}}.com/peers/peer{{data['peer_index']}}.{{data['org_name']}}.{{data['network_name']}}.com/tls/server.crt
            - name: CORE_PEER_TLS_KEY_FILE
              value: /fabric/crypto-config/peerOrganizations/{{data['org_name']}}.{{data['network_name']}}.com/peers/peer{{data['peer_index']}}.{{data['org_name']}}.{{data['network_name']}}.com/tls/server.key
            - name: CORE_PEER_TLS_ROOTCERT_FILE
              value: /fabric/crypto-config/peerOrganizations/{{data['org_name']}}.{{data['network_name']}}.com/peers/peer{{data['peer_index']}}.{{data['org_name']}}.{{data['network_name']}}.com/tls/ca.crt
#            - name: FABRIC_CFG_PATH
#              value: /etc/hyperledger/fabric
            - name: ORDERER_URL
              value: {{data['nodeIp']}}:{{calOrdererNodePort()}}
            - name: GODEBUG
              value: 'netdns=go'
            - name: CORE_VM_DOCKER_ATTACHSTDOUT
              value: 'true'
            - name: CORE_LEDGER_STATE_STATEDATABASE
              value: CouchDB
            - name: CORE_LEDGER_STATE_COUCHDBCONFIG_COUCHDBADDRESS
              value: couchdb{{data['peer_index']}}-{{data['org_name']}}:5984
            - name: CORE_LEDGER_STATE_COUCHDBCONFIG_USERNAME
              value: admin
            - name: CORE_LEDGER_STATE_COUCHDBCONFIG_PASSWORD
              value: adminpw
          volumeMounts:
            - mountPath: /fabric/crypto-config/peerOrganizations/{{data['org_name']}}.{{data['network_name']}}.com/peers/peer{{data['peer_index']}}.{{data['org_name']}}.{{data['network_name']}}.com
              name: fabric-files
              subPath: crypto-config/peerOrganizations/{{data['org_name']}}.{{data['network_name']}}.com/peers/peer{{data['peer_index']}}.{{data['org_name']}}.{{data['network_name']}}.com
            - mountPath: /var/hyperledger
              name: fabric-files
              subPath: peerData/peer{{data['peer_index']}}-{{data['org_name']}}/data
            - mountPath: /host/var/run/docker.sock
              name: dockersocket
            - mountPath: /etc/hyperledger/fabric/core.yaml
              name: builders-config
              subPath: core.yaml
            - mountPath: /builders/external/bin/detect
              name: external-builder-detect
              subPath: detect
            - mountPath: /builders/external/bin/build
              name: external-builder-build
              subPath: build
            - mountPath: /builders/external/bin/release
              name: external-builder-release
              subPath: release
            
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: couchdb{{data['peer_index']}}-{{data['org_name']}}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: couchdb{{data['peer_index']}}-{{data['org_name']}}
  template:
    metadata:
      labels:
        app: couchdb{{data['peer_index']}}-{{data['org_name']}}
    spec:
      volumes:
        - name: fabric-files
          persistentVolumeClaim:
            claimName: fabric-pvc

      containers:
        - name: couchdb
          image: hyperledger/fabric-couchdb:0.4.15
          volumeMounts:
            - mountPath: /opt/couchdb/data/
              name: fabric-files
              subPath: peerData/peer{{data['peer_index']}}-{{data['org_name']}}/db

          env:
            - name: COUCHDB_USER
              value: admin
            - name: COUCHDB_PASSWORD
              value: adminpw
