aio-pika==6.7.1
aiohttp==3.6.0
aiohttp-cors==0.7.0
aiohttp-jinja2==1.1.2
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.10.1
jsonschema==2.6.0
multiaddr==0.0.8
multidict==4.5.2
pylint==1.9.2
PyYAML==5.1.2
requests
kubernetes==8.0.0
gunicorn==19.7.1
uvloop==0.14.0
aiofiles==0.4.0
celery==4.2.0
motor==2.2.0
