apiVersion: v1
kind: List

items:
  - apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: {{ data['name'] }}-explorer
    spec:
      replicas: 1
      selector:
        matchLabels:
          name: {{ data['name'] }}-explorer
      template:
        metadata:
          labels:
            name: {{ data['name'] }}-explorer
        spec:
          volumes:
          - name: client-build
            emptyDir: {}

          initContainers:
          - name: client-builder-yarn
            image: maihuysl1999/sawtoothex-fe:latest
            imagePullPolicy: Always
            command: [sh, -c]
            args: ["find /app/build -type f -exec sed -i 's/6237df0b240cbd8dab21f655/{{data["network_id"]}}/g' {} + && cp -R /app/build/* /truebuild"]
            volumeMounts:
              - name: client-build
                mountPath: /truebuild
          containers:
            - name: sawtooth-explorer-server
              image: thuando1412/sawtooth-explorer-back-end:latest
              imagePullPolicy: IfNotPresent
              ports:
                - containerPort: 5000
              env:
              - name: SAWTOOTH_VALIDATOR_HOST
                value: "{{ data['public_ip'] }}"
              - name: SAWTOOTH_VALIDATOR_PORT
                value: "32001"
              - name: SAWTOOTH_EXPLORER_HOST
                value: "{{ data['public_ip'] }}"
              - name: SAWTOOTH_EXPLORER_PORT
                value: "32002"
              - name: MONGO_URL
                value: "127.0.0.1:27017"
              volumeMounts:
                - mountPath: /app/build
                  name: client-build

            - name: sawtooth-explorer-database
              image: mongo
              ports:
                - containerPort: 27017
  - apiVersion: v1
    kind: Service
    metadata:
      name: sawtooth-explorer
    spec:
      type: NodePort
      selector:
        name: {{ data['name'] }}-explorer
      ports:
        - name: "5000"
          protocol: TCP
          port: 5000
          targetPort: 5000
          nodePort: 32766
        - name: "27017"
          protocol: TCP
          port: 27017
          targetPort: 27017
