kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: sawtooth-pvc
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: ""
  resources:
    requests:
      storage: 1Gi
  selector:
    matchLabels:
      name: sawtooth-files
