kind: PersistentVolume
apiVersion: v1
metadata:
  name: sawtooth-pv
  labels:
    type: local
    name: sawtooth-files
spec:
  capacity:
    storage: 1Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  nfs:
    path: /var/nfs/sawtooth-service/volume/{{data['username']}}/{{data['network_id']}}
    server: localhost
    readOnly: false
